@import "../node_modules/ui-styles/variables.less";

:host {
  [sort-desc]:before {
    .transition(@transition);
    content: "\25be";
    cursor: pointer;
  }

  [sort-asc]:before {
    .transition(@transition);
    .transform(rotate(180deg));
    content: "\25be";
    display:inline-block;
    cursor: pointer;
  }

  [sort]:before {
    .transition(@transition);
    content: "\25be";
    cursor: pointer;
  }
}