@import "../node_modules/ui-styles/variables.less";

:host {
  display: block;
}

[hide] {
  display:none;
}

grid-header {
  text-transform: capitalize;
  font-weight: bold;
}

grid {
  display: block;
  height: 100%;
  font-family:arial;
  border: solid 1px rgb(226, 226, 226);

  grid-body {
    display: block;
  }

  grid-row {
    display:block;
    box-sizing: border-box;
    border: solid 1px rgb(226, 226, 226);
    border-top: none;
  }

  grid-cell {
    display:block;
    padding: @pad;
    box-sizing: border-box;
    overflow: hidden;

    &:hover {
      border-radius: 5px;
      z-index: 9800;
    }
  }

  grid-cell {
    height: 100%;
  }
}

grid-header /deep/ grid-sort-header{
  display: flex;
  justify-content: space-between;
}

grid-header /deep/ grid-header-item {
  display:block;
  padding: @pad;
  box-sizing: border-box;
  overflow: hidden;

  &:hover {
    border-radius: 5px;
    z-index: 9800;
  }
}

core-list {
  height: 100%;
}

grid-sort-icon {
  align-self: flex-end;
  display: flex;
  align-items: flex-start;
}

[sort-desc]:before {
  content: "\25be";
  cursor: pointer;
}

[sort-asc]:before {
  .transform(rotate(180deg));
  content: "\25be";
  display:inline-block;
  cursor: pointer;
}

[sort]:before {
  content: "\25be";
  cursor: pointer;
}
